
<h1>Bienvenidos a la pagina de @NombreTienda</h1>
<p>Te ofrecemos los mejores productos al día <b>Delivery Gratis</b></p>

@code {
    [Parameter]
    public string NombreTienda { get; set; }
}